<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <script src="https://kit.fontawesome.com/1d1e187741.js" crossorigin="anonymous"></script>
    <style type="text/css">
      .container{
        background-color: #322958;
        color: white;
        font-family:'Montserrat', sans-serif;
      }
      .link_to {
        text-decoration: none !important;
      }
    </style>
  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
    <div class="container">
      <h1>Bienvenue chez STORPE <%=  %> ⚽ 🏀!</h1>
      <p>
        Tu viens de nous rejoindre depuis peu, bravo à toi !
        Maintenant montre au reste des STORPEURS que TU es le meilleur pronostiqueur !
      </p>
      <%= link_to "STORPE", "http://www.storpe.club", class: 'link_to' %>
      <h2>Nous te rappelons les règles</h2>
      <ul>
        <ol>1 -</ol>
        <ol>2 -</ol>
        <ol>3 -</ol>
      </ul>
      <p>
        Bon courage champion ! On se donne rendez-vous en haut du podium ou ... en 3e Div'.
      </p>
      <p>Encore merci de nous rejoindre on a hâte de suivre tes performances !</p>
    </div>



  </body>
  <footer>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </footer>

</html>
