// Specific CSS for your home-page

.nav1{
  padding-bottom: 5px;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.carousel .item {
  background-color: #777;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FBB03B' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FBB03B' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-caption{
  font-size: 16px;
  color: white;
  top: 0;
}

.phone p, h2{
 margin-top: 5px;
}

.phone p{
  font-size: 14px;
  margin-bottom:1px;
}
.phone h2{
  font-size: 18px;
  // font-weight: bold;
}
.desktop p, h2 {
margin-bottom: 10px;
}
.desktop p{
  font-size: 24px;
  font-weight: normal;
}

.desktop h2{
  font-size: 32px;
  // font-weight: bold;
}
.storpe{
  padding-top: 5px;
  padding-bottom: 5px;
  background-position: center;
}
.mainhome{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
}
.position{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1px;
}
.content{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}
.log {
  color: #FFFFFF;
  height: 100vh;
  right: 1px;
  top:0;
  display: flex;
  flex-direction: column;
  background-color: #312947;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13.5px;
 }

.presentation{
color:white;
font-family: "Montserrat";
font-size:12px;
text-align:center;
margin-left: 20px;
margin-right: 20px;
margin-top: 1px;
letter-spacing: 0.36px;
line-height: 14px;
font-weight: normal;
}

#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  box-shadow: 0px -4px 0px rgba(35, 40, 49, 0.9);
  color: black;
  align-items: baseline;
}

@media (min-width: 960px) {
  .phone{
    display: none;
  }
  .mainhome{
    display: none;
  }
  .nav{
    display: none;
  }
}

@media (max-width: 960px){
  .desktop{
    display: none;
  }
  .new2{
    display: none;
  }
  .presentation {
    display: none;
  }
  .log{
    display: none;
  }
  .position{
    display: flex;
  }
  #footer {
    position: absolute;
  }
  .video{
    display: none;
  }
}


.footer-match{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 6px;
  // border-top: solid 0.1rem grey;
  color: black;
}
.foot-phrase{
  color: white;
}
.footer-contact{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  color: black;
}
.footer-links{
  font-size: 24px;
}

.footer-links a{
  color: white;
}

.footer-links a:hover{
  color: #FBB03B;
}

hr.new1 {
  border-top: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;

}

hr.new2{
    border-top: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
}

.rejoins{
  align-items:center;
  background: rgba(255, 0, 0, 0.5);
  border: 0.5px solid rgba(255, 0, 0, 0.5);
  border-radius: 25px;
  opacity: 1;
  color:black;
  width: 260px;
  text-decoration: none;

  padding: 8px; margin-top: 5px;

  &:hover{
    color:black;
}

}

.facebook{
  margin-top: 5px;
  border-radius: 25px;
  width: 260px;
  background: #1877f2;
  text-align:center;
}

.rejoins_1{
  align-items:center;
  background: #FBB03B;
  border: 0.5px solid #FBB03B;
  border-radius: 25px;
  opacity: 1;
  color:black;
  width: 260px;
  text-decoration: none;

  padding: 8px; margin-top: 0px;
}
