.topimage {
  mix-blend-mode: lighten;
  opacity: 1;
  height: 250px;
  background:url('https://res.cloudinary.com/dhu7op4vc/image/upload/v1598515055/4siwGa_2x_defzzt.png');
  background-size: cover;
}
.topimagechampionship {
  mix-blend-mode: lighten;
  opacity: 1;
  height: 250px;
  background:url('https://res.cloudinary.com/dhu7op4vc/image/upload/v1598514437/r2Vv75_2x_uz4kwk.png');
  background-size: cover;

}

.topimageprofile{
  mix-blend-mode: lighten;
  opacity: 1;
  height: 250px;
  background:url('https://res.cloudinary.com/dhu7op4vc/image/upload/v1598515348/Group_129_2x_hvcxk0.png');
  background-size: cover;

}
.container{
  color: white;
}
.container ol{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #312947;
  color: white;
}

.container li{
  padding-top: 15px;
  padding-left: 0px;
  color: white;
}

.params{
  position: absolute;
  right: 0px;
}

.typomatch{
  font-size: 12px;
  font-weight: bold;
}

.blason{
  margin-top: 13px;
  margin-bottom: 10px;
}
.title{
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 32px;
}
.toptitle {
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 32px;
}
.stat{
  color:white;
  font-size:18px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.typopo{
  color:white;
  font-size:10px;
  font-weight: 300;
  font-family: 'Montserrat';
  text-align: center;
}
.tit{
  color:white;
  font-size:11px;
  font-weight: bold;
  font-family: 'Montserrat';
  text-align: center;
}

.opacite{
  background-color: black;
}

.info {
  width: 375px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.08);
  margin-bottom: 10px;
  }

.rank{
  height:1000px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  width: 750px;
}
.stats {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 20px;
  height:500px;
  width: 750px;
}
@media screen and (max-width: 1128px) {
    .stats  {
        width: 375px;
    }
}

@media screen and (max-width: 1128px) {
    .rank {
        width: 375px;
    }
}

    /* Overrides the above styles on screens larger than 36em */

.up{
  text-align: center;
  position: relative;
}
.up p{
  color: white;
  padding-top: 7px;
}
.typo {
  color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
}

.typoleague{
  color: #FBB03B;
  font-family: 'Montserrat';
  font-size: 16px;
  -webkit-appearance: button-bevel;
}

.typos {
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: lighter;
}

.hr1 {
  border-top: 1px solid white;
  opacity: 0.5;
}
.hr2 {
  border-top: 1px solid white;
  opacity: 0.5;
}
.lol {
  display: flex;
  align-items: center;
}
.cla{
  font-size:12px;
  font-family: "Montserrat";
  font-weight:bold;
  color:#FBB03B;
}

.table td {
  padding: 0.45rem;
  vertical-align: 0;
}

th{
  font-size:10px;
  font-family: "Montserrat";
  font-weight:bold;
  color:white;
  text-align: center;
}

td{
  font-size:10px;
  font-family: "Montserrat";
  font-weight:bold;
  color:white;
  text-align: center;
}

.circle {
  // border: solid 1px white;
  // border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  // display: table-cell;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index:100;
  background-color:#403a67;
  width:100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 0vh;
    background-color: #000;
}

@media (max-width: 576px){
  .topimageprofile, .topimagechampionship, .topimage {
    height: 150px;
  }
}
