<footer id="footer">
  <div class="foot-phrase">
    <p>Le sport c'est ici 👉</p>
  </div>
  <div class="footer-links" style="display: flex; align-items: center;">
    <a href="https://twitter.com/STORPE4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/groups/storpe/" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/storpe4/?hl=fr" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
