<!-- <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false"> -->
  <!-- <div class="modal-dialog" role="document"> -->
    <div class="modal-content">
      <div class="float-right p-1">
      </div>
      <div class="modal-header">
        <h2 class="stat m-auto">Tu as réalisé tes 40 pronos !</h2>

      </div>
     <!--  <div class="modal-body pb-1" style="z-index: 100;">
        <p class="typopo mb-0">Retrouve les sur la page championnat !</p>
      </div> -->
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="rejoins typopo"><%= link_to 'Checker mes pronos', season_path(current_user)%></button>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->


