<div class="navbarbottom">
  <div class="navbarbottom-links">

   <ul>
   <li>
    <a href="/seasons/id"><svg class="icon" width="32" height="32" viewBox="0 0 33.757 36.008"><defs>
      <filter id="filter1">
        <feColorMatrix
                  color-interpolation-filters="sRGB"
                  type="matrix"
                  values="9 9 9 9 9
                                  0 0.50 0 0 0
                                  0 0 0.50 0 0
                                  0 0 0 1 0 "/>

      </filter><style>.a{fill:#fff;}</style></defs><path class="a" d="M77.521,203.9H71.9v-1.125a1.126,1.126,0,0,0-1.125-1.125h-18a1.125,1.125,0,0,0-1.125,1.125V203.9H46.015a1.126,1.126,0,0,0-1.125,1.125v4.5a7.878,7.878,0,0,0,7,7.826,10.157,10.157,0,0,0,5.941,7.128v5.3H53.892a1.126,1.126,0,0,0-1.125,1.125v5.626a1.125,1.125,0,0,0,1.125,1.125H69.646a1.125,1.125,0,0,0,1.125-1.125V230.9a1.125,1.125,0,0,0-1.125-1.125H65.707v-5.3a10.157,10.157,0,0,0,5.941-7.128,7.876,7.876,0,0,0,7-7.826v-4.5A1.125,1.125,0,0,0,77.521,203.9Zm-25.88,11.14a5.627,5.627,0,0,1-4.5-5.514v-3.376h4.5Zm17.635,16.688v3.754H54.26v-3.754Zm-9.2-1.948v-4.653a9.459,9.459,0,0,0,3.375,0v4.653Zm9.565-14.627a7.877,7.877,0,0,1-15.753,0V203.9H69.646Zm6.751-5.626a5.627,5.627,0,0,1-4.5,5.514v-8.89h4.5Z" transform="translate(-44.89 -201.648)"/></svg></a>
    </li>
    <li>
    <a href="/player_seasons/id"><svg class="icon" width="32" height="32" viewBox="0 0 37.593 30.419"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M79.188,336.437l-12.181-4.822a.82.82,0,0,0-.439-.045l-.044.008a32.418,32.418,0,0,1-5.593.49h-.023a33.562,33.562,0,0,1-5.623-.491.808.808,0,0,0-.506.05l-12.151,4.81a.815.815,0,0,0-.493.949l1.567,7.233a.817.817,0,0,0,.967.625l4.982-1.044v16.961a.816.816,0,0,0,.816.816H71.347a.817.817,0,0,0,.816-.816V344.2l4.987,1.044a.818.818,0,0,0,.963-.624l1.571-7.252A.814.814,0,0,0,79.188,336.437Zm-12.463-3.18L77.945,337.7l-1.254,5.786-5.122-1.072a.779.779,0,0,0-.222-.03.817.817,0,0,0-.816.815v17.148H51.283V343.193a1.028,1.028,0,0,0-.017-.161.817.817,0,0,0-.964-.631l-5.177,1.083L43.87,337.7l11.221-4.442s4.185.569,5.817.569S66.724,333.257,66.724,333.257Z" transform="translate(-42.11 -331.557)"/></svg></a>
    </li>
    <li>
    <a href="/matches"><svg class="icon" width="32" height="32" viewBox="0 0 36.689 28.975"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M79.437,603.242l-1.481-6.85a.558.558,0,0,0-.092-.37.889.889,0,0,0-.834-.555.706.706,0,0,0-.462.185l-24.9,5.185a11.825,11.825,0,0,0-8.887,10.831,13.184,13.184,0,0,0,1.111,6.017,12.082,12.082,0,0,0,10.738,6.758,10.385,10.385,0,0,0,2.962-.37,12.024,12.024,0,0,0,8.7-14.349c0-.092,0-.185-.092-.185a2.058,2.058,0,0,1,.277-1.481,2.792,2.792,0,0,1,1.388-.833l10.924-2.87A.952.952,0,0,0,79.437,603.242Zm-11.942,2.129a3.739,3.739,0,0,0-2.407,1.666A3.677,3.677,0,0,0,64.625,610v.092a10.2,10.2,0,0,1-7.406,12.127,11.508,11.508,0,0,1-2.5.278,10.121,10.121,0,0,1-2.592-19.9L76.474,597.5l1.112,5.184Z" transform="translate(-42.766 -595.466)"/><path class="a" d="M57.341,609.821a9.255,9.255,0,0,0-1.481.186A6.974,6.974,0,0,0,57.249,623.8a9.237,9.237,0,0,0,1.481-.185,6.974,6.974,0,0,0-1.388-13.794Zm4.258,9.813a5.08,5.08,0,0,1-3.24,2.222,4.159,4.159,0,0,1-1.018.092,5.1,5.1,0,0,1-1.018-10.091,4.154,4.154,0,0,1,1.018-.093,5.072,5.072,0,0,1,4.258,7.869Z" transform="translate(-45.109 -599.916)"/></svg></a>
    <li class="contact">
    <a href="/contact"><svg class="icon" width="32" height="32" viewBox="0 0 32.188 32.188"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M293.2,85.981a14.68,14.68,0,0,0-8.039,7.649,5.552,5.552,0,0,0,4.764,2.625A5.655,5.655,0,0,0,293.2,85.981Zm-2.959,7.941a2.389,2.389,0,0,1-2.358-2.355,2.357,2.357,0,0,1,4.713,0A2.389,2.389,0,0,1,290.243,93.922Z" transform="translate(-267.107 -73.946)"/><path class="a" d="M275.693,89.414A15.871,15.871,0,0,1,290.444,78.19a16.1,16.1,0,0,0-29.5,0A15.871,15.871,0,0,1,275.693,89.414Z" transform="translate(-259.598 -68.539)"/><path class="a" d="M290.378,84.558a.672.672,0,0,1-.075,0,14.4,14.4,0,0,0-3.491.432,7.177,7.177,0,0,1-5,12.342,7.062,7.062,0,0,1-5.4-2.447c-.391,1.289-1.33,4.7-1.33,4.7s-.938-3.411-1.33-4.7a7.066,7.066,0,0,1-5.4,2.447,7.176,7.176,0,0,1-5-12.342,14.408,14.408,0,0,0-3.491-.432c-.026,0-.049,0-.074-.006a16.094,16.094,0,1,0,30.576,0Z" transform="translate(-258.995 -73.504)"/><path class="a" d="M266.751,85.981a5.653,5.653,0,0,0,3.272,10.274,5.546,5.546,0,0,0,4.764-2.625A14.674,14.674,0,0,0,266.751,85.981Zm2.958,7.941a2.389,2.389,0,0,1-2.356-2.355,2.356,2.356,0,1,1,4.711,0A2.389,2.389,0,0,1,269.709,93.922Z" transform="translate(-260.657 -73.946)"/></svg></a>
    </li>
    <li>

      <a class="fas fa-sign-out-alt icon" rel="nofollow" data-method="delete" href="/users/sign_out"></a>
    </li>
    </ul>
  </div>
</div>


