<h1>Introducing the company</h1>

<h3>Lorem ipsum dolor sit amet,
consectetur adipisicing elit.
Nulla, quia quis blanditiis saepe nam
aliquid quidem enim assumenda, qui, quas
iure temporibus.
Fugiat temporibus aut explicabo,
sequi maiores doloremque vitae.</h3>


<%= link_to "back to Home", root_path %>
