<h1>Liste des matchs à venir</h1>

<% @matches.each do |match| %>
  <%= match.team_home %>
  <%= image_tag "#{match.team_home_logo_url}", width: 60 %>
  <%= match.team_away %>
  <%= image_tag "#{match.team_away_logo_url}", width: 60 %>
<% end %>
