.topimagegazette{
  mix-blend-mode: lighten;
  opacity: 1;
  height: 250px;
  background:url('https://res.cloudinary.com/dhu7op4vc/image/upload/v1611660384/pascal-swier-7de474KZIbs-unsplash_oe2sha.jpg');
  background-size: cover;
}
