.navbarbottom {
  flex-shrink: 0;  margin-top: 80px;
}

.navbarbottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(49,41,91,1), rgba(49,41,88,1), rgba(49,41,79,1),rgba(49,41,71,1) );
  color: white;
  text-align: center;
  height: 55px;
  border-top: 1px solid rgba(255,255,255,0.5);

}

.navbarbottom-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon:hover {
  filter: url(#filter1);
}
