

.background-image{

mix-blend-mode: lighten;
opacity: 1;
background-size:center;

}


.icon-rules{
top: 339px;
left: 196px;
width: 33px;
height: 35px;
margin: 20px;
}


.sifflet{
top: 654px;
left: 190px;
width: 44px;
height: 43px;
margin-bottom:10px;
}
