.square {
  border: 0.5px solid #FFFFFF;
  opacity: 1;
  border-radius: 5px;
  width: 17px;
  height: 17px;
}

.displaysquares {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  background-color: #FFFFFF;
}
